<template>
    <donation msg="Hello Vue 3 + TypeScript + Vite"/>
</template>

<script setup lang="ts">
    // import {defineComponent} from 'vue';

    import Donation from './components/Donation.vue';

    // export default defineComponent({
    //     Donation,
    // });
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 3rem 1rem;
        display: flex;
        justify-content: center;
    }

</style>
