<template>
    <button
        type="button"
        class="donation-tile"
        :class="{'donation-tile_active': active === true}"
        @click="$emit('select', amount)"
    >
        {{ `${symbol}${amount.toLocaleString('en-US')}` }}
    </button>
</template>

<script setup lang="ts">
    defineProps<{
        amount: number,
        symbol: string,
        active: boolean,
    }>();
</script>

<style scoped>
    .donation-tile {
        cursor: pointer;
        height: 35px;
        background-color: #fdfcfc;
        color: black;
        font-size: 1rem;
        border-radius: 3px;
        border: none;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
        transition: all 150ms ease;
    }

    .donation-tile:hover {
        background-color: #5391eb;
        color: white;
    }

    .donation-tile_active {
        background-color: #4c81d1;
        color: white;
        box-shadow: none;
    }

</style>
