<template>
    <div
        class="donation-select"
        v-click-outside="onClickOutside"
    >
        <div
            class="donation-select__current"
            :class="{'donation-select__current_expand': expand}"
            @click="expand = !expand"
        >
            <span>
                {{ currencies[currentIdx].code }}
            </span>
            <span class="donation-select__caret">
                ▼
            </span>
        </div>
        <div
            v-if="expand"
            class="donation-select__list"
        >
            <div
                v-for="(currency, i) in currencies"
                :key="`donation-select-${i}`"
                class="donation-select__item"
                :class="{'donation-select__item_current': currencies[currentIdx].code === currency.code}"
                @click="onClickSelectItem(i)"
            >
                {{ currency.code }}
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    import {defineEmits, ref} from 'vue';

    defineProps<{
        currentIdx: number,
        currencies: Currency[],
    }>();

    const emit = defineEmits(['select'])
    const expand = ref(false);

    function onClickOutside(): void {
        expand.value = false;
    }

    function onClickSelectItem(i: number): void {
        emit('select', i);
        expand.value = false;
    }

</script>

<style scoped>
    .donation-select {
        position: relative;
        width: 70px;
        display: flex;
        flex-direction: column;
    }

    .donation-select__current {
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        color: #717171;
        transition: color 150ms ease;
    }

    .donation-select__current:hover,
    .donation-select__current_expand {
        color: black;
    }

    .donation-select__caret {
        position: absolute;
        right: 5px;
        font-size: .65rem;
        transition: transform 200ms ease;
    }

    .donation-select__current_expand > .donation-select__caret {
        transform: rotateX(180deg);
    }

    .donation-select__list {
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
    }

    .donation-select__item {
        cursor: pointer;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        transition: all 150ms ease;
    }

    .donation-select__item:hover {
        background-color: #5391eb;
        color: white;
    }

    .donation-select__item_current {
        background-color: #5391eb;
        color: white;
    }

</style>
