<template>
    <form
        class="donation"
        @submit.prevent="onSubmit"
    >
        <div class="donation__tiles">
            <donation-tile
                v-for="(preset, i) in currentPresets"
                :key="`donation-tile-${i}`"
                :amount="preset"
                :symbol="currencies[currentIdx].symbol"
                :active="Number(amount) === preset"
                class="donation__tile"
                @select="amount = String($event)"
            />
        </div>
        <donation-input
            :amount="amount"
            :currencies="currencies"
            :current-idx="currentIdx"
            class="donation__input"
            @submit="onSubmit"
            @update-amount="amount = $event"
            @update-current-idx="onUpdateCurrentIdx"
        />
        <button
            type="submit"
            class="donation__submit"
        >
            Donate
        </button>
    </form>
</template>

<script setup lang="ts">
    import {ref, computed} from 'vue';
    import {useToast} from 'vue-toastification';
    import http from '../utils/http';

    import DonationTile from './DonationTile.vue';
    import DonationInput from './DonationInput.vue';

    const amount = ref('40');
    const currentIdx = ref(0);
    const presets: number[] = [40, 100, 200, 1000, 2500, 5000];
    const currencies: Currency[] = [
        {name: 'US Dollar', code: 'USD', symbol: '$', rate: 1},
        {name: 'Euro', code: 'EUR', symbol: '€', rate: 0.897597},
        {name: 'British Pound', code: 'GBP', symbol: '£', rate: 0.81755},
        {name: 'Russian Ruble', code: 'RUB', symbol: '₽', rate: 63.461993},
    ];
    const toast = useToast();

    const currentPresets = computed(() => {
        return presets.map((p: number) => {
            const rate: number = currencies[currentIdx.value].rate;
            const value: number = Math.round(p * rate);
            const pow = Math.pow(10, String(value).length - 1);

            return Math.round(value / pow) * pow;
        });
    });

    function onUpdateCurrentIdx(idx: number): void {
        const foundPresetIdx: number = currentPresets.value.findIndex(v => v === Number(amount.value));

        currentIdx.value = idx;

        if (foundPresetIdx !== -1) {
            amount.value = String(currentPresets.value[foundPresetIdx]);
        } else {
            amount.value = String(Math.round(Number(amount.value) * currencies[currentIdx.value].rate));
        }
    }

    function onSubmit(): void {
        if (
            !Number(amount.value) ||
            Number(amount.value) < 0
        ) {
            toast.error('Enter the correct number');
        } else {
            http
                .post('/donate', {
                    currency: currencies[currentIdx.value].code,
                    amount: Number(amount.value),
                })
                .then(() => {
                    toast.success('Thank you for your donation!');
                })
                .catch((err) => {
                    console.error(err.message);
                    toast.error('An error has occurred. Try again later');
                });
        }
    }
</script>

<style scoped>
    .donation {
        width: 360px;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .donation__tiles {
        position: relative;
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        margin-bottom: 1.25rem;
    }

    .donation__tile {
        font-size: 1rem;
        width: calc((100% - .5rem * 2) / 3);
    }

    .donation__input {
        margin-bottom: 2rem;
    }

    .donation__submit {
        cursor: pointer;
        height: 50px;
        background-color: #4c81d1;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 4px;
        border: none;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
        -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .2);
        transition: all 150ms ease;
    }

    .donation__submit:hover {
        background-color: #5391eb;
    }

</style>
