<template>
    <div class="donation-input">
        <span class="donation-input__symbol">
            {{ currencies[currentIdx].symbol }}
        </span>
        <input
            :value="amount"
            type="number"
            min="1"
            step="1"
            required
            class="donation-input__input"
            @keypress="isNumber"
            @keypress.enter="$emit('submit')"
            @input="$emit('update-amount', $event.target.value)"
        >
        <donation-dropdown
            :current-idx="currentIdx"
            :currencies="currencies"
            class="donation-input__dropdown"
            @select="$emit('update-current-idx', $event)"
        />
    </div>
</template>

<script setup lang="ts">
    import {defineEmits} from 'vue';
    import DonationDropdown from './DonationSelect.vue';

    const props = defineProps<{
        amount: string,
        currentIdx: number,
        currencies: Currency[],
    }>();
    const emit = defineEmits(['update-amount', 'update-current-idx', 'submit']);

    function isNumber($event: KeyboardEvent): void {
        const keysAllowed: string[] = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
        const keyPressed: string = $event.key;

        if (!keysAllowed.includes(keyPressed)) {
            $event.preventDefault();
        }
    }

</script>

<style scoped>
    .donation-input {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .donation-input__symbol {
        position: absolute;
        left: 10px;
    }

    .donation-input__input {
        height: 50px;
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 70px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 1.75rem;
        color: #5391eb;
        background-color: white;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .donation-input__dropdown {
        position: absolute;
        top: 0;
        right: 0;
    }

</style>
